/**
* Style for Promethee Desktop UI
* @author Arnaud Trouche - Artenum SARL
*/
.root {
	/* New variation more darker for background of list-views */
	-fx-control-inner-background-dark: derive(-fx-control-inner-background,-4.0%);
}

.list-view{
	-fx-background-color: -fx-control-inner-background-dark;
}
.list-cell:empty {
	-fx-background-color: none;
}

/* Style HBOX like Toolbar in reverse (to use extensive regions) */
.reverse-tool-bar{
	-fx-background-color:
        linear-gradient(to top, derive(-fx-base,75%) 0%, -fx-outer-border 90%),
        linear-gradient(to bottom, derive(-fx-base,46.9%) 0%, -fx-base 90%);
    -fx-background-insets: 0 0 0 0, 1 0 1 0;
    -fx-padding: 0.416667em 0.5em 0.416667em 0.5em; /* 5 6  5 6 */
    -fx-spacing: 0.333em; /* 4 */
    -fx-alignment: CENTER_LEFT;
}

/* Shortcuts */
.bold{
	-fx-font-weight: bold;
}

.italic{
	-fx-font-style: italic;
}

.red{
	 -fx-text-fill: #F55;
	 -fx-text-background-color: #F55 ;
}

.blue{
	 -fx-text-fill: #38F;
	 -fx-text-background-color: #38F ;
}

/* Correction to avoid blue on blue */
.table-row-cell:selected .blue {
    -fx-text-fill: white;
    -fx-text-background-color: white;
}

.green{
	 -fx-text-fill: #2F5;
	 -fx-text-background-color: #2F5 ;
}

.align-center{
	-fx-alignment: CENTER;
}