<?xml version="1.0" encoding="UTF-8"?>
<CALCULATOR>
  <HOST name='localhost' port='19001'/>
  <HOST name='localhost' port='19002'/>
  <HOST name='localhost' port='19003'/>
  <HOST name='localhost' port='19004'/>
  <HOST name='localhost' port='19005'/>
  <HOST name='localhost' port='19006'/>
  <HOST name='localhost' port='19007'/>
  <HOST name='localhost' port='19008'/>
  <HOST name='localhost' port='19009'/>
  <HOST name='localhost' port='19010'/>
  
  <!-- Please do add anylthing no edit lines below -->
